<div id="minicart-holder">
  <a href="#minicart-drop">
    <i class="icon-cart"><span class="hide">cart</span></i>
    <span id="minicart-text">Cart</span>
    <span id="minicart-quantity">{{ cart.item_count }}</span>
  </a>
</div>