{% if paginate.parts.size > 0 %}
<ul class="paging">
  {% for part in paginate.parts %}
    {% if part.is_link %}
    	<li>{{ part.title | link_to: part.url }}</li>
    {% else %}
    	<li class="active">{{ part.title }}</li>
    {% endif %}      
  {% endfor %}
</ul>
{% endif %}