{% assign widgetSlug = receiptfulproductreview %}

<div class="rf-reviews" data-slug="{{ widgetSlug }}"></div>

<script>
if (typeof window.ReceiptfulData === 'undefined') {
  window.ReceiptfulData = {};
}
</script>
