{% include 'promo-block' %}

<section class="text-section">
  <div class="section-holder">
    <div class="content-holder">
      {% include 'process-html' with page.content %}
    </div>
  </div>
</section>