{% layout none %}

<style>

.mailchimp *
{
  font-family: neuzeit-grotesk, Arial, Helvetica, sans-serif;
}

.mailchimp .header
{
  overflow: hidden;
  background: #282827;
}

.mailchimp .header .logo
{
  float: left;
  width: 40%;
  padding: 20px 0 15px 12px;
}

.mailchimp .header .logo img
{
  width: 100%;
}

.mailchimp .header .nav-frame
{
  float: right;
  width: 50%;
  margin: 26px 0 10px;
}

.mailchimp .header .nav-frame ul
{
  margin: 0;
}

.mailchimp .header .nav-frame ul li
{
  float: left;
  list-style-type: none;
  font-size: 13px;
  line-height: 2;
  margin: 0 16px 0 0;
}

.mailchimp .header .nav-frame ul a
{
  color: #ffffff;
  text-decoration: none;
}

.mailchimp .main-banner
{
  width: 100%;
  margin: 12px 0 20px;
}

.mailchimp .main-banner img
{
  width: 100%;
}

.mailchimp .main-title
{
  padding: 0 20px 20px;
  border-bottom: 10px solid #000000;
  margin: 0 0 40px;
}

.mailchimp .main-title h1
{
  font-size: 40px;
  line-height: 1;
  font-weight: normal;
  margin: 0;
}

.mailchimp .main-text
{
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 40px 0;
}

.mailchimp .ads-block
{
  overflow: hidden;
  margin: 0 0 60px 0;
}

.mailchimp .ads-row
{
  overflow: hidden;
}

.mailchimp .ad
{
  float: left;
  padding: 0 12px 12px 0;
  box-sizing: border-box;
}

.mailchimp .ad.small
{
  width: 50%;
}

.mailchimp .ad.large
{
  width: 100%;
}

.mailchimp .ads-row img
{
  width: 100%;
}

.mailchimp .products-block
{
  overflow: hidden;
  margin: 0 0 40px 0;
}

.mailchimp .products-block .title-bar
{
   margin: 0 0 20px 0;
}

.mailchimp .products-block .title-bar img
{
  width: 100%;
}

.mailchimp .products
{
  overflow: hidden;
}

.mailchimp .product
{
  float: left;
  width: 25%;
  padding: 0 12px 20px 0;
  box-sizing: border-box;
}

.mailchimp .product:nth-of-type(5n)
{
  clear: both;
}

.mailchimp .product img
{
  width: 100%;
}

.mailchimp .product .product-title
{
  font-size: 15px;
  margin: 12px 0 0 0;
}

.mailchimp .footer-banner
{
  margin: 0 40px 40px;
}

.mailchimp .footer-banner img
{
  width: 100%;
}

@media only screen and (max-width: 767px)
{
  .mailchimp .product
  {
    width: 100%;
  }
  
  .mailchimp .header .logo
  {
    width: auto;
    max-width: 93.5%;
  }

  .mailchimp .header .nav-frame
  {
    width: 100%;
    margin: 0 0 10px;
  }
  
  .mailchimp .ad.small
  {
    width: 100%;
  }
  
  .mailchimp .products-block .title-bar
  {
    width: 200%;
    margin: 0 0 20px -50%;
  }
  
  .mailchimp .product .product-title
  {
    text-align: center;
  }
  
  .mailchimp .footer-banner
  {
    margin: 0;
  }
}

</style>

<div class="mailchimp">
  <div class="header">
    <div class="logo">
      <a href="http://www.vintagevibe.com">
        <img src="//cdn.shopify.com/s/files/1/0666/2821/t/53/assets/logo.png?14822896519768900747" alt="Vintage Vibe">
      </a>
    </div>
    <div class="nav-frame">
      <ul>
        <li><a href="http://www.vintagevibe.com/collections/fender-rhodes-parts">RHODES PARTS</a></li>
        <li><a href="http://www.vintagevibe.com/collections/wurlitzer-e-p-parts">WURLITZER PARTS</a></li>
        <li><a href="http://www.vintagevibe.com/pages/electric-piano-repairs">CLAVINET PARTS</a></li>
        <li><a href="http://www.vintagevibe.com/pages/vintage-vibe-piano">VV PIANOS</a></li>
      </ul>
    </div>
  </div>
  <div class="main-banner">
    <a href="http://www.vintagevibe.com">
      <img src="//cdn.shopify.com/s/files/1/0666/2821/files/VVEmail5_banner.jpg?3169937847832352769">
    </a>
  </div>
  <div class="main-title">
    <h1><strong>FREE SHIPPING</strong> ON ALL DOMESTIC ORDERS OVER $100!</h1>
  </div>
  <div class="main-text">
    <p>We’re kicking off the holiday season by offering an epic 20% off sitewide on your gear, parts, accessories and more (excludes electric pianos). Just stock up your cart and use the code <strong>FRIDAY20</strong> at checkout.</p>
  </div>
  <div class="ads-block">
    <div class="ads-row">
      <div class="ad small">
        <a href="http://www.vintagevibe.com/search?type=product&amp;q=electronics">
          <img src="//cdn.shopify.com/s/files/1/0666/2821/files/ad_electronics.jpg?14140215021221389636">
        </a>
      </div>
      <div class="ad small">
        <a href="http://www.vintagevibe.com/products/gift-card">
          <img src="//cdn.shopify.com/s/files/1/0666/2821/files/ad_gift_cards.jpg?14140215021221389636">
        </a>
      </div>
    </div>
    <div class="ads-row">
      <div class="ad large">
        <a href="http://www.vintagevibe.com/search?type=product&amp;q=parts">
          <img src="//cdn.shopify.com/s/files/1/0666/2821/files/ad_parts.jpg?14140215021221389636">
        </a>
      </div>
    </div>
  </div>
  <div class="products-block">
    <div class="title-bar">
      <img src="//cdn.shopify.com/s/files/1/0666/2821/files/top-sellers-bar.png?15472844933162039096">
    </div>
    <div class="products">
      <div class="product">
        <a href="http://www.vintagevibe.com/products/fender-rhodes-sustain-pedal-rod-combo">
          <img src="//cdn.shopify.com/s/files/1/0666/2821/products/rhodes_sustain_pedal_-_stage_combo_grande.jpg?v=1421254032">
        </a>
        <h3 class="product-title">Fender Rhodes Sustain Pedal and Rod Combo</h3>
      </div>
      <div class="product">
        <a href="http://www.vintagevibe.com/products/wurlitzer-sustain-pedal">
          <img src="//cdn.shopify.com/s/files/1/0666/2821/products/wurly_pedal_grande.jpg?v=1421680935">
        </a>
        <h3 class="product-title">Wurlitzer Sustain Pedal</h3>
      </div>
      <div class="product">
        <a href="http://www.vintagevibe.com/products/stereo-vibe-fender-rhodes-pre-amp">
          <img src="//cdn.shopify.com/s/files/1/0666/2821/products/Stereo_Vibe-web_grande.jpg?v=1420643045">
        </a>
        <h3 class="product-title">Fender Rhodes Stereo Vibe Preamp</h3>
      </div>
      <div class="product">
        <a href="http://www.vintagevibe.com/products/wurlitzer-chrome-legs">
          <img src="//cdn.shopify.com/s/files/1/0666/2821/products/wurly-legs14_grande.jpeg?v=1413293790">
        </a>
        <h3 class="product-title">Wurlitzer Legs</h3>
      </div>
      <div class="product">
        <a href="http://www.vintagevibe.com/products/wurlitzer-200a-amplifier-pcb">
          <img src="//cdn.shopify.com/s/files/1/0666/2821/products/200a_amp_web_grande.jpg?v=1429280273">
        </a>
        <h3 class="product-title">Wurlitzer 200A Amplifier PCB</h3>
      </div>
      <div class="product">
        <a href="http://www.vintagevibe.com/products/fender-rhodes-legs-and-cross-bars">
          <img src="//cdn.shopify.com/s/files/1/0666/2821/products/legs_bundle-3_grande.jpg?v=1413577004">
        </a>
        <h3 class="product-title">Fender Rhodes Complete Legs and Cross Bars Kit</h3>
      </div>
      <div class="product">
        <a href="http://www.vintagevibe.com/products/fender-rhodes-tine-six-pack">
          <img src="//cdn.shopify.com/s/files/1/0666/2821/products/6_pack_of_tines_grande.jpg?v=1440607781">
        </a>
        <h3 class="product-title">Fender Rhodes Tine Six Pack</h3>
      </div>
      <div class="product">
        <a href="http://www.vintagevibe.com/products/wurlitzer-200-amplifier-pcb">
          <img src="//cdn.shopify.com/s/files/1/0666/2821/products/wurly_200_amp_grande.jpg?v=1420642813">
        </a>
        <h3 class="product-title">Wurlitzer 200 Amplifier PCB</h3>
      </div>
    </div>
  </div>
  <div class="footer-banner">
    <a href="http://www.vintagevibe.com">
      <img src="//cdn.shopify.com/s/files/1/0666/2821/files/footer-banner.jpg?1843538142215044665">
    </a>
  </div>
</div>